@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-magic-height: 300px;
}

.card-magic {
  position: relative;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s linear;

  font-family: cursive;
}

.card-magic:hover {
  transform: scale(1.05);
}

.card-magic-bg {
  background-color: rgb(68 95 115 / 80%);
}
